<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="up-container">
        <h1 class="up-title">Upload Files</h1>
        <div class="up-description">            
            <p>Upload .csv files and import to database</p>
        </div>
        <div class="up-fileupload">
            <input type="file" class="upFile" autocomplete="off">
            <button id="uploadFile">Upload</button>
        </div>
        <div class="up-filelist">
            <ul class="filelist">test.csv</ul>
            <ul class="filelist">annattest.csv</ul>
            <ul class="filelist">reimport.csv</ul>
        </div>
    </div>

</body>
</html>