<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/home.css">
    
</head>
<body>
    <div class="up-container">
        <h1 class="up-title">Upload Files</h1>
        <div class="up-description">            
            <p>Upload .csv files and import to database</p>
        </div>
        <div class="up-fileupload">
            <form ref="uploadForm" id="uploadForm" action="http://localhost:8081/upload" method="POST" encType="multipart/form-data">
                <input type="file" name="uppFile" autocomplete="off">
                <input type='submit' value='Upload' />
            </form>
            {{fileError}}
        </div>
        <div class="up-filelist">
            Uploaded files:
            {{#files}}
                <ul class="filelist">{{.}}</ul>
            {{/files}}            
        </div>
    </div>

</body>
</html>