<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/filelist.css">
    
</head>
<body>
    <div class="up-container">
        <h1 class="up-title">Upload Files</h1>
        <div class="up-transaction">            
            <p><a href="/transactionlist">transactions</a></p>            
        </div>
        <div class="up-description">
            <p>Upload .csv files and import to database</p>            
        </div>
        <div class="upload">
            <form ref="uploadForm" id="uploadForm" action="http://localhost:8081/upload" method="POST" encType="multipart/form-data">
                <input type="file" name="uppFile" autocomplete="off" >
                <input type='submit' value='Upload' />
            </form>            
        </div>
        <div id="table">            
            {{#status}}
            <div class="row-status">
                <span class="cell primary" data-label="Message">{{.}}</span>
            </div>
            {{/status}}
            {{#error}}
            <div class="row-error">
                <span class="cell primary" data-label="Error">{{.}}</span>
            </div>
            {{/error}}        
        </div>
        
        <div id="file-table">
            <div class="file-caption">Uploaded files:</div>            
             {{#files}}
            <div class="row-files">
                <span class="cell primary" data-label="Files">{{.}}</span>
            </div>
            {{/files}}   
                     
        </div>
        <div>
            Import files:
            <a href="http://localhost:8081/import"><input type="button" value="import"></a>
        </div>
    </div>

</body>
</html>