<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="tl-container">
        <h1 class="tl-title">Transaction List</h1>
        <div class="tl-description">            
            <p>Below are all imported reccords</p>
        </div>
        
        <div class="up-transactionlist">
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
            <ul class="transactionlist">asdasdasd | asdfsfsdf | sdfsdfsdf | dsfsdfsd</ul>
        </div>
    </div>

</body>
</html>